name: Format

on:
  push:
    branches:
      - master
      - dev

jobs:

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # v2 minimum required
      - uses: axel-op/googlejavaformat-action@v3
        with:
          args: "--skip-sorting-imports --aosp --replace"
          githubToken: ${{ secrets.GITHUB_TOKEN }}
